/* Empty. Add your own CSS if you like */

.b {
  font-weight: bold;
}

.margin-top {
  margin-top: 10px;
}

.pm10 {
  color: blue;
}
.pm25 {
  color: red;
}

i.error {
  color: red;
}
i.ok {
  color: green;
}

input.inb {
  display: inline-block;
}

span.input-label.blocks {
  display: block;
}

.load-spin svg {
  width: 16px;
  height: 16px;
}

.padding-no-top {
  padding: 0px 10px 10px 10px;
}

.float-right {
  float: right;
}
