<ion-view view-title="Nastavitve" data-ng-controller="ConfigController as controller">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label b">URL InfluxDB baze</span>
        <input type="text" ng-model="controller.$storage.url" placeholder="http://192.168.23.134:8086">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label b">Sensor ID</span>
        <input type="text" ng-model="controller.$storage.sensorId">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label b">Čas prikaza (v s)</span>
        <input type="text" ng-model="controller.$storage.time">
      </label>
    </div>
  </ion-content>
</ion-view>
