<ion-view data-ng-controller="ChartController as controller">
  <ion-nav-title>Graf: Postaja {{controller.$storage.sensorId}}</ion-nav-title>
  <ion-content class="padding">
    <div>
      <h4>Trenutne vrednosti delcev:</h4>
      <ion-list>
        <ion-item class="pm10">
          PM 10: {{current_10}} &#181;g/m<sup>3</sup>
        </ion-item>
        <ion-item class="pm25">
          PM 2.5: {{current_25}} &#181;g/m<sup>3</sup>
        </ion-item>
      </ion-list>
    </div>
    <h4 ng-show="current_10 == null || current_25 == null">Napaka pri zajemu podatkov.</h4>
    <highchart id="chart1" config="chartConfig"></highchart>
  </ion-content>
</ion-view>
